* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5rem 8rem;
  background-color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 10px;
}

.container {
  display: flex;
}

.left-side {
  position: relative;
  width: 30%;
}

.right-side {
  width: 70%;
}

.polygon {
  width: 100%;
  height: 20.5rem;
  background-color: rgba(165, 42, 42, 0.096);
  clip-path: polygon(0 0, 100% 0, 100% 77%, 0 35%);
}

.triangle {
  width: 100%;
  height: 25rem;
  background-color: rgba(128, 128, 128, 0.795);
  clip-path: polygon(0 6.8%, 100% 41%, 0 100%);
  margin-top: -15rem;
}

.avatar {
  position: absolute;
  z-index: 2;
  top: 8rem;
  left: 30%;
}

.zuri-logo {
  position: absolute;
  z-index: 5;
  top: 2rem;
  left: 23%;
}

.triangle-image {
  width: 60%;
  border-radius: 50%;
}

.leftside-content {
  position: relative;
  z-index: -1;
  margin-top: -14.7rem;
  padding: 18.2rem 2.5rem 2.5rem 2.5rem;
  background-color: rgba(128, 128, 128, 0.048);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

.contact h2 {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.616);
  margin-bottom: 1.5rem;
}

.contact p,
.contact div {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}

.profile h2 {
  margin-top: 3.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.61);
  margin-bottom: 1.8rem;
  text-transform: uppercase;
}

.profile p {
  font-size: 1.6rem;
}

.skills h2 {
  margin-top: 3.5rem;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.61);
}

.skills ul {
  font-size: 1.6rem;
  padding: 2.5rem;
}

.skills ul li {
  margin-bottom: 1.5rem;
}

.heading {
  text-align: center;
  height: 45rem;
  background-color: rgba(165, 42, 42, 0.199);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 35%);
  padding-top: 4rem;
}

.rightside-content {
  margin-top: -9rem;
  padding: 2rem;
}

.heading h1 {
  text-transform: uppercase;
  font-size: 6.5rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

.heading p {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1rem;
}

.education h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  border-bottom: 1px solid gray;
  margin-top: -3.9rem;
  margin-bottom: 2rem;
}

.degree {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

p span {
  font-size: 1.6rem;
  display: inline-block;
  margin-right: 1.6rem;
}

.edu-note {
  font-size: 1.6rem;
}

.edu-2 {
  margin-top: 5rem;
}

.professional h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  border-bottom: 1px solid gray;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.digifigs-part h3 {
  text-transform: uppercase;
  font-size: 1.6rem;
}

.courses-part {
  margin-top: 4rem;
}

.courses-part h3 {
  text-transform: uppercase;
  font-size: 1.6rem;
}

.digifigs-part p {
  font-size: 1.6rem;
}

.courses-part p {
  font-size: 1.6rem;
}

.p-note {
  margin-top: 1.5rem;
}

@media (min-width: 980px) and (max-width: 1084px) {
  .heading {
    padding-top: 2rem;
  }

  .heading h1 {
    font-size: 5rem;
  }
}

@media (min-width: 883px) and (max-width: 980px) {
  .heading {
    padding-top: 2rem;
  }

  .heading h1 {
    font-size: 5rem;
  }

  .left-side {
    width: 227px;
  }

  .zuri-logo {
    left: 15%;
  }
}

@media (min-width: 680px) and (max-width: 882px) {
  .heading {
    padding-top: 2rem;
    height: 40rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 43%);
  }

  .heading h1 {
    font-size: 4.3rem;
  }

  .left-side {
    width: 227px;
  }

  .zuri-logo {
    left: 10%;
  }

  .polygon {
    clip-path: polygon(0 0, 100% 0, 100% 83.5%, 0 44%);
  }

  .triangle {
    clip-path: polygon(0 14.5%, 100% 46.5%, 0 100%);
    margin-top: -15rem;
  }

  .leftside-content {
    padding: 13.4rem 2.5rem 2.5rem 2.5rem;
  }
}

@media (min-width: 569px) and (max-width: 679px) {
  .heading {
    padding-top: 2rem;
    height: 40rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 43%);
  }

  .heading h1 {
    font-size: 4rem;
  }

  .left-side {
    width: 200px;
  }

  .zuri-logo {
    left: 12%;
  }

  .logo-image {
    width: 85%;
  }

  .polygon {
    clip-path: polygon(0 0, 100% 0, 100% 83.5%, 0 40%);
  }

  .triangle {
    clip-path: polygon(0 11.3%, 100% 46.5%, 0 100%);
    margin-top: -15rem;
  }

  .leftside-content {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
    padding: 13.4rem 2.5rem 2.5rem 2.5rem;
  }
}

@media (max-width: 568px) {
  body {
    padding: 5rem 2rem;
  }

  .heading {
    padding-top: 2rem;
    height: 40rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 43%);
  }

  .heading h1 {
    font-size: 4rem;
  }

  .left-side {
    width: 170px;
  }

  .zuri-logo {
    left: 12%;
  }

  .logo-image {
    width: 85%;
  }

  .polygon {
    clip-path: polygon(0 0, 100% 0, 100% 83.5%, 0 40%);
  }

  .triangle {
    clip-path: polygon(0 11.3%, 100% 46.5%, 0 100%);
    margin-top: -15rem;
  }

  .leftside-content {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
    padding: 13.4rem 2.5rem 2.5rem 2.5rem;
  }
}
